/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --main-text-color: #f1b2ce;
  --nav-color: #ff0070;
  --nav-color-hover: #ff007066;
  --main-heading-color: #000028;
  --section-heading-color: #ff0070;
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;

  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .top-right-decoration {
  display: flex;
}
