/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

@import url(./variables.css);

.page {
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Header */

.header {
  position: relative;
  min-height: 668px;
  padding: 10px;
}

.top-right-decoration {
  position: absolute;
  right: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-size: 18px;
}

.top-right-decoration:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px #ff0070);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--decorated-zone-color);
  border-block-start: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--decorated-zone-color);
  border-block-end: 1px solid var(--decorated-zone-color);
}

.header__theme-menu {
  padding-block-start: 63px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  border-block-end: 1px solid transparent;
  color: var(--navigation-text-color);
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  min-inline-size: 70px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--navigation-text-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--navigation-text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--navigation-text-color);
  pointer-events: none;
}

.header__text {
  padding-block-start: 65px;
  color: var(--header-title-text-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;

  text-shadow: 4px 4px 0px var(--title-text-shadow-color);
}

.textblock {
  margin-block-start: 55px;
}

.title-decor {
  color: var(--title-text-decor-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

/* Конец Header */

/* Начало main */

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 50px;
  padding: 40px 10px;
  background-color: var(--background-color);
}

.title {
  color: var(--block-title);
  font-size: 18px;
}

.subtitle {
  margin-block-start: 23px;
}

.text__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 20px;
}

.text__block-description {
  color: var(--text-block-color);
  font-size: 18px;
  line-height: 23.4px;
}

.text__block-description a {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.text__block-description a:hover {
  text-decoration: underline;
}

.text__block-description a:focus {
  outline: none;
}

.text__block-description a:focus-visible {
  border: 1px solid var(--text-block-color);
}

.thin {
  font-weight: 400;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 10px;
}

/* Конец main */

/* Начало Footer */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 668px;
  padding: 10px;
  background-color: var(--background-color);
}

.footer__text {
  padding-block-start: 0;
}

/* Конец Footer */

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    padding: 20px;
  }

  .header__text {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-block-start: 173px;
  }

  .top-right-decoration {
    right: 28px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  .header__theme-menu {
    padding-block-start: 170px;
  }

  .textblock {
    position: absolute;
    right: 20px;
    align-self: end;
    margin-block-start: 162px;
    max-inline-size: 365px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .block {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-areas: "title text__block";
    gap: 20px;
  }

  .block:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  .block:nth-child(2) .title {
    width: 236px;
  }

  .subtitle {
    margin-block-start: 0;
  }

  .blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .title {
    grid-area: title;
  }

  .text__block {
    grid-area: text__block;
    padding-block-start: 0;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding-block-start: 20px;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .image-1 {
    grid-area: 1 / 1 / 2 / 3;
    height: 192px;
  }

  .image-2 {
    grid-area: 1 / 3 / 3 / 4;
    height: 441px;
  }

  .image-3 {
    grid-area: 2 / 1 / 4 / 2;
    height: 568px;
  }

  .image-4 {
    grid-area: 2 / 2 / 3 / 3;
    width: 230px;
  }

  .image-5 {
    grid-area: 3 / 2 / 4 / 4;
    height: 318px;
  }

  .footer {
    min-block-size: 1024px;
  }

  .footer__text {
    padding-inline-start: 20px;
    padding-block-start: 0;
    text-shadow: 2px 2px 0px var(--title-text-shadow-color);
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    padding-block-start: 0;
  }

  .header__text {
    padding-block-start: 273px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .textblock {
    margin-block-start: 114px;
    max-inline-size: 491px;
  }

  .block:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  .block:nth-child(2) .title {
    width: 315px;
  }

  .block:nth-child(2) .blocks {
    display: flex;
    flex-direction: row;
  }

  .text__block {
    flex: 1;
  }

  .block {
    grid-template-columns: 315px 1fr;
  }

  .image-1 {
    width: 649px;
    height: 260px;
  }

  .image-2 {
    width: 315px;
    height: 595px;
  }

  .image-3 {
    width: 315px;
    height: 768px;
  }

  .image-4 {
    width: 315px;
    height: 315px;
  }

  .image-5 {
    width: 649px;
    height: 428px;
  }

  .footer {
    min-height: 768px;
  }

  .footer__text {
    padding-block-start: 0;
    text-shadow: 2px 2px 0px var(--title-text-shadow-color);
  }
}
