/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --header-color: #db00ff;
  --header-text-color: #000028;
  --text-block-color: #f1b2ce;
  --bg-color: #000028;
}
